<template>
  <div>
    <div ref="modal" class="modal fade" :class="{show, 'd-block': active}" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title"><slot name="title"></slot></h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" @click="toggleModal">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <slot name="content"></slot>
          </div>
        </div>
      </div>
    </div>
    <div v-if="active" class="modal-backdrop fade show"></div>
  </div>
</template>

<script>
export default {
  props: ['triggerModal'],
  data() {
    return {
      active: false,
      show: false
    };
  },
  methods: {
    toggleModal() {
      const body = document.querySelector("body");
      this.active = !this.active;
      this.active ? body.classList.add("modal-open") : body.classList.remove("modal-open");
      setTimeout(() => (this.show = !this.show), 10);
    }
  },
  watch: {
    triggerModal: function (oldValue, newValue) {
      if (oldValue !== newValue) {
        this.toggleModal()
      }
    }
  }
};
</script>

