<template>
  <div>
    <div class="frame">
      <h1 class="text-center">Hire a Taxi</h1>
    </div>
    <div class="alert alert-danger" role="alert" v-if="submitErrors.length > 0">
      <ul>
        <li v-for="error in submitErrors">
          {{ error.key }}: {{ error.message }}
        </li>
      </ul>
    </div>
    <form @submit.prevent="submit">
      <div class="form-group">
        <label for="full-name">Full name</label>
        <input type="text" class="form-control" :class="{ 'is-invalid': $v.full_name.$error }"
               v-model.trim="$v.full_name.$model"
               id="full-name" aria-describedby="full-name-help">
        <small id="full-name-help" class="form-text text-muted">e.g., Pooria Farhad</small>
      </div>
      <div class="form-group">
        <label for="mobile">Mobile</label>
        <input type="tel" class="form-control" :class="{ 'is-invalid': $v.mobile.$error }"
               @input="delayTouch($v.mobile)"
               v-model.trim="$v.mobile.$model" id="mobile"
               aria-describedby="mobile-help">
        <small id="mobile-help" class="form-text text-muted">e.g., 07221333333</small>
        <div class="invalid-feedback" v-if="!$v.mobile.mobileValidator">
          Please provide a valid UK mobile.
        </div>
      </div>
      <div class="form-group">
        <label for="arrival-date">Date of arrival</label>
        <input type="date" class="form-control" :class="{ 'is-invalid': $v.arrival_date.$error }"
               v-model.trim="$v.arrival_date.$model"
               id="arrival-date" aria-describedby="arrival-date-help">
        <small id="arrival-date-help" class="form-text text-muted">The time you will be arrived at the airport</small>
        <div class="invalid-feedback" v-if="!$v.arrival_date.validArrivalDate">
          Arrival date must be today or future.
        </div>
      </div>
      <div class="form-group">
        <label for="airport">Airport</label>
        <select class="form-control" :class="{ 'is-invalid': $v.airport.$error }" v-model.trim="$v.airport.$model"
                v-on:change="changeAirport"
                id="airport">
          <option v-for="airport in airports" v-bind:value="airport.id">
            {{ airport.name }}
          </option>
        </select>
        <div class="spinner-border spinner-border-sm" v-if="loading"></div>
      </div>
      <div class="form-group" v-if="airport_terminals.length > 0">
        <label for="airport">Airport Terminal</label>
        <select class="form-control" :class="{ 'is-invalid': $v.airport_terminal.$error }"
                v-model.trim="$v.airport_terminal.$model"
                id="airport-terminal">
          <option value="">Not sure</option>
          <option v-for="airport_terminal in airport_terminals" v-bind:value="airport_terminal.id">
            {{ airport_terminal.code }}
          </option>
        </select>
      </div>
      <div class="form-group">
        <label for="airflight-number">Airflight Number</label>
        <input type="text" class="form-control" :class="{ 'is-invalid': $v.airflight_number.$error }"
               v-model.trim="$v.airflight_number.$model" @input="delayTouch($v.airflight_number)"
               id="airflight-number" aria-describedby="airflight-number-help">
        <small id="airflight-number-help" class="form-text text-muted">Standard flight number e.g., 2A333</small>
        <div class="invalid-feedback" v-if="!$v.airflight_number.flightNumberValidator">
          Please provide a valid flight number.
        </div>
      </div>
      <div class="text-center">
        <button type="submit" :class="{ 'btn-not-valid': $v.$invalid, 'btn-valid': !$v.$invalid }" class="btn btn-submit btn-lg"
                :disabled="this.submitLoading">
          <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true" v-if="this.submitLoading"></span>
          <span v-else>Submit</span>
        </button>
      </div>
    </form>
    <Modal :triggerModal="triggerModal">
      <template v-slot:title>
        Successfully submitted!
      </template>
      <template v-slot:content>
        <p>Your request wih id {{ requestId }} has been sent to the agents.</p>
        <p class="text-center">
          <a href="https://unbiased.co.uk" target="_blank">Unbiased</a>
        </p>
      </template>
    </Modal>
  </div>
</template>

<script>
import {required, integer, helpers} from 'vuelidate/lib/validators';
import Modal from './Modal';
import axios from 'axios';

const touchMap = new WeakMap();
const mobileValidator = helpers.regex('mobile', /^07\d{9}$/);
const flightNumberValidator = helpers.regex('flightNumber', /^([A-Z]{2}|[A-Z]\d|\d[A-Z])\s?\d{3,4}$/);
const validArrivalDate = (value) => (!isNaN(Date.parse(value)) && new Date(value) >= new Date());

export default {
  components: {
    Modal
  },
  data() {
    return {
      airports: [],
      airport_terminals: [],
      submitErrors: [],
      loading: true,
      submitLoading: false,
      triggerModal: false,
      requestId: '',
      full_name: '',
      mobile: '',
      arrival_date: '',
      airport: '',
      airport_terminal: '',
      airflight_number: ''
    };
  },
  mounted() {
    this.fetchAirports();
  },
  validations: {
    full_name: {
      required
    },
    mobile: {
      required,
      mobileValidator
    },
    arrival_date: {
      required,
      validArrivalDate
    },
    airport: {
      required,
      integer
    },
    airport_terminal: {
      integer
    },
    airflight_number: {
      required,
      flightNumberValidator
    }
  },
  methods: {
    fetchAirports() {
      axios.get('api/airports')
          .then(response => (this.airports = response.data))
          .finally(() => this.loading = false);
    },
    fetchAirportTerminals(id) {
      axios.get(`api/airports/${id}/terminals`)
          .then(response => (this.airport_terminals = response.data))
          .finally(() => this.loading = false);
    },
    changeAirport(event) {
      this.airport_terminal = '';
      this.fetchAirportTerminals(event.target.value);
    },
    submit() {
      let thiz = this;
      this.$v.$touch();
      if (!this.$v.$invalid) {
        this.submitLoading = true;
        axios.post('api/taxi-requests', {
          full_name: this.full_name,
          mobile: this.mobile,
          arrival_date: this.arrival_date,
          airport_id: this.airport,
          terminal_id: this.airport_terminal ? this.airport_terminal : null,
          airflight_number: this.airflight_number
        })
            .then(function (response) {
              thiz.requestId = response.data.id;
              thiz.full_name = '';
              thiz.mobile = '';
              thiz.arrival_date = '';
              thiz.airport = '';
              thiz.terminal = '';
              thiz.airflight_number = '';
              thiz.airport_terminals = [];
              thiz.submitErrors = [];
              thiz.$v.$reset();
              thiz.triggerModal = !thiz.triggerModal;
            })
            .catch(function (error) {
              thiz.submitErrors = error.response.data.errors;
            })
            .finally(() => this.submitLoading = false);
      }
    },
    delayTouch($v) {
      $v.$reset()
      if (touchMap.has($v)) {
        clearTimeout(touchMap.get($v))
      }
      touchMap.set($v, setTimeout($v.$touch, 1000))
    }
  }
};
</script>

<style>
h1 {
  font-size: 20px;
}
.frame {
  color: white;
  width: 300px;
  margin: 0 auto;
  padding: 15px 100px;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  border-radius: 5px;
  font-weight: bold;
}
.btn-not-valid {
  background-color: #23a6d5;
}
.btn-valid {
  background-color: #0d8ab7;
}
.btn-submit {
  color: white;
  padding: 10px 50px;
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
</style>