<h1>New Taxi Request Received!</h1>
<h2>
    Details
</h2>
<p>
    ID: {{ id }}
    <br>
    Name: {{ full_name }}
    <br>
    Mobile: {{ mobile }}
    <br>
    Arrival Date: {{ arrival_date }}
    <br>
    Airflight Num: {{ airflight_number }}
    <br>
    Airport: {{ airport_name }}
    <br>
    Terminal: {{ terminal }}
</p>