{% extends 'base.html.twig' %}

{% block title %}Unbiased - Taxi Service{% endblock %}

{% block body %}
    <div class="container">
        <div id="main">
            <div id="app">
                <TaxiRequest></TaxiRequest>
            </div>
        </div>
    </div>
{% endblock %}